* {
    margin: 0px;
    padding: 0px;
}
.header{
    height:8.02%;
    width:auto;
    padding: 2.37% 0 2.37% 0;
    background: #22292c;
}
.z{  float: left;  }
.y{  float: right;  }
.text{
    width: auto;
}
.text h1{
    font-size: 2em;
    color: white;
    text-align: center;
}

.center{
    width:100% ;
    background: #68cdd5;
    text-align: center;
}
.arrow{
    text-align: left;
    padding: 0.73% 0 0 2.92%;
}
.logo{
    padding: 1.5% 0 7.5% 0;
}
.content {
    width: 460px;
    height: 100%;
    margin: 0 auto auto auto;
    color: #fff;
    font-size: 2em;
    line-height: 200%;
}
.button{
    width: 460px;
    height: 360px;
    margin: 0 auto auto auto;
    color: #fff;
    font-size: 2em;
}
#b_l{
    float: left;
    padding: 20% 0 10% 50px;
}
#b_r{
    float: right;
    padding: 20% 50px 10% 0;
}
