* {
    margin: 0px;
    padding: 0px;
}
.header{
    width:auto;
    padding: 1% 0 1% 0;
    background: #22292c;
}
.z{
    float: left;
}
.y{
    float: right;
}
.cl{
    clear: both;
}
.text{
}
.text span{
    display: block;
    font-size: 200%;
    color: white;
    text-align: center;
}

.center{
    width:100% ;
    background: #68cdd5;
    text-align: center;
}
.arrow{
    text-align: left;
    padding: 0.73% 0 0 2.92%;
}
.logo{
    padding: 10px 0 50px 0;
}
.content {
    max-width: 460px;
    margin: 0 auto auto auto;
    color: #fff;
    font-size: 200%;
    line-height: 150%;
}
.button{
    position: relative;
    max-width: 460px;
    padding-bottom: 15%;
    margin: 0 auto auto auto;
    color: #fff;
    font-size: 180%;
}
#b_l{
    position: absolute;
    left: 0;
    padding: 20% 0 10% 50px;
}
#b_r{
    float: right;
    padding: 20% 50px 10% 0;
}
.button img {
    height: 80px;
}
@media screen and (max-width:550px) {
    .content{
        font-size: 150%;
    }
}