*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
    font-family: "Hiragino Sans GB W3";
}
@media screen and (max-width:550px) {
    body {
        font-size: 60%;
    }
}
@media screen and (max-width:350px) {
    body {
        font-size: 50%;
    }
}
.page{
    max-width: 640px;
    margin: 0 auto;
}
.header{
    position: relative;
    border-bottom: 1px white;
    border-bottom-style: dotted;
    background-color:#29BDE0 ;
}
#home{
    position: absolute;
    left: 0;
    height: 100%;
}
#help{
    position: absolute;
    right: 0;
    height: 100%;
}
.header span{
    display: block;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 200%;
    color: #ffffff;
}
.result{
    background-color:#29BDE0 ;
}
.result img{
    width: 100%;
}
#txt_a{
    padding: 0 15% 15% 15%;
    font-size: 200%;
    font-weight: bolder;
    color:#ffcc66;
}
#txt_b{
    padding: 0 15% 5% 15%;
    font-size: 150%;
    color:#fff;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
.content{
    height: 100%;
}
.content li{
    display: block;
    padding: 0 15% 3% 15%;
    border-bottom: 1px solid #DDD;
}
.content .day{
    padding-bottom: 3%;
    font-size: 150%;
}
.content .time{
    display: inline-block;
    float: right;
    font-size: 120%;
    padding-top: 3.4%;
    color: #DDD;
}
.content .sth{
    font-size: 120%;
    color: #ffcc66;

}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 640px;
    background-color: rgba(153, 223, 240, 0.7);
}
.footer div{
    display: inline-block;
    width: 45.5%;
    font-size: 240%;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.footer #bt_a{
    padding: 2% 0;
    margin: 3% 2% 3% 2%;
    background-color: #f66f6f;
}
.footer #bt_b{
    padding: 2% 0;
    margin: 3% 2% 3% 2%;
    background-color: #fbb435;
}
    /*@media screen and (max-width:550px) {
    .footer div {
        display: block;
        width: 80%;
    }
    .footer #bt_a{
        padding: 2% ;
        margin: 3% auto;
    }
    .footer #bt_b{
        padding: 2% ;
        margin: 3% auto;
    }*/