*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 550px){
     body{
         font-size: 60%;
     }
}
@media screen and (max-width: 360px){
    body{
        font-size: 56%;
    }
}
@media screen and (max-width: 320px){
    body{
        font-size: 50%;
    }
}
body{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
#top,#top2{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    background-color: #29bde0;
}
#phone,#phone2{
    width: 100%;
}
#switchPoint{
    width: 10%;
}
#switchPoint2{
    visibility: hidden;
    width: 10%;
}
.wrapper{
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
}
.lastgame{
    position: relative;
    margin: 4% 5%;
    border-width: 2px;
    border-style: solid;
    border-color: #d0d0d0;
    font-size: 200%;
    line-height: 400%;
    color: #9a9a9a;
    text-align: center;
    background-color: #ffffff;
}
.lastgame img{
    position: absolute;
    right: 2%;
    top: 35%;
    height: 30%;
}
.start{
    position: relative;
    margin: 4% 5%;
    border-width: 2px;
    border-style: solid;
    border-color: #d0d0d0;
    text-align: center;
    background-color: #ffffff;
}
.name{
    border-bottom:solid 2px #fdd793;
    font-size: 200%;
    line-height: 280%;
    color: #fbb435;
}
ul{
    display: block;
}
li{
    list-style: none;
}
.model_name{
    margin: 0 9.5% 1% 9.5%;
    font-size: 200%;
    line-height: 413%;
    color: #ffffff;
    background-color: #69d1e9;
}
.content{
    font-size: 150%;
    line-height: 300%;
    color: #787878;
}
#first{
    margin: 5% 9.5% 1% 9.5%;
}
.footer{
    width: 16.5%;
}
#nextpage{
    position: absolute;
    right: 2%;
    top: 48%;
    height: 7%;
}
/*********************以下是关于弹出菜单样式********************/
#menupage  {

}
#menupage li {
    width: 70%;
    position: relative;
    z-index: 1;
    border-bottom: solid 1px #E8E8E8;
}
.icon{
    position: absolute;
    height: 5em;
}
.more{
    position: absolute;
    right: 0;
    height: 5em;
}
#menupage span{
    color:#69d1e9 ;
    font-size: 200%;
    line-height: 288%;
    padding: 0 0 0 2.5em;
}